.col-md-2 {
  float: right;
}

.green-column {
  background-color: #f5fffa
}

.blue-column {
  background-color: #f5faff
}

.purple-column {
  background-color: #faf5ff
}

#penny {
  float: left;
  margin: 6px;
}
